@import url("https://fonts.googleapis.com/css2?family=Meow+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&family=Meow+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&family=Meow+Script&family=Quintessential&family=Sanchez&display=swap");
.principal {
  color: #00000071; }

.secundario1 {
  color: #585353e1; }

.secundario2 {
  color: #000000ee; }

header {
  background-image: url("../img/marmoldeonix.PNG");
  background-repeat: no-repeat;
  background-size: cover; }
  header h1 a {
    text-align: center;
    text-decoration: none;
    font-family: "Cairo", sans-serif;
    font-size: 10vh;
    color: white;
    animation-duration: 3s;
    animation-name: aparecer; }
  header nav {
    background-color: rgba(255, 255, 255, 0.76);
    border-radius: 20px; }
    header nav a {
      font-family: "Quintessential", cursive; }
      header nav a:hover {
        background-color: rgba(48, 45, 45, 0.253); }
    header nav li:hover {
      background-color: rgba(48, 45, 45, 0.253); }
    header nav input {
      font-family: "Quintessential", cursive; }
    header nav button {
      font-family: "Quintessential", cursive; }

footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f3f3; }
  footer img {
    height: 5vh;
    width: 4vw; }
  @media (max-width: 768px) {
    footer img {
      height: 8vh;
      width: 10vw; } }

main {
  background-image: url("../img/marmolOnix.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  main h1 {
    text-align: center;
    font-family: "Cairo", sans-serif;
    font-size: 10vh;
    color: white;
    animation-duration: 3s;
    animation-name: aparecer; }
  main p {
    font-size: 3vh;
    color: #00000071;
    animation-duration: 3s;
    animation-name: aparecer; }
  main div img {
    height: 60vh;
    width: 60vw;
    border-radius: 20px; }
  main div iframe {
    height: 30vh;
    margin-top: 2vh;
    margin-bottom: 5vh; }
  main div h2 {
    text-align: center;
    color: white; }
  main div .achicar, main div .achicar2 {
    border-radius: 30px; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  @media (max-width: 768px) {
    main h1 {
      font-size: 7vh; }
    main p {
      font-size: 2vh; } }

main div div div div img {
  height: 30vh;
  width: 30vw;
  border-radius: 20px;
  transition: 1s; }
  main div div div div img:hover {
    height: 44vh; }

@media (max-width: 768px) {
  div div div div img {
    height: 30vh;
    width: 90vw;
    transition: 1s; }
    div div div div img:hover {
      height: 44vh; } }

main div img {
  height: 40vh; }

@media (max-width: 768px) {
  main div img {
    height: 30vh; } }

.pruebaGetMap {
  color: #585353e1; }

.pruebaGetMap2 {
  color: #000000ee; }
