$color-primario:#30c54ea8;
$color-secundario: rgba(255, 255, 255, 0.76);
$color-texto: #00000071;
$color-texto2: #585353e1;
$color-texto3: #000000ee;
$color-fondo: #e9f5f8;
$color-footer: rgb(245, 243, 243);
$color-hover: rgb(155, 207, 255);