@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');

$font-family: 'Meow Script', cursive;

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&family=Meow+Script&display=swap');
$font-family2: 'Cairo', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&family=Meow+Script&family=Quintessential&family=Sanchez&display=swap');
$font-family3: 'Quintessential', cursive;