$cambiarTexto: (
    principal: $color-texto,
    secundario1: $color-texto2,
    secundario2: $color-texto3,

);
@each $frases, $color in $cambiarTexto{
    .#{$frases}{
        color:$color;
    }
}