main {
    background-image: url('../img/marmolOnix.jpg') ;
     background-repeat: no-repeat;
     background-size: cover;

    
    h1{
        text-align: center;
        font-family: $font-family2;
        font-size: 10vh;
        color: white;
        animation-duration: 3s;
        animation-name: aparecer;

        &:hover {
            color: rgba(48, 45, 45, 0.253);
        }
    }
    p {

        font-size: 3vh;
        color: $color-texto;
        animation-duration: 3s;
        animation-name: aparecer;

    }

    div {
        img {
            @include sizes(60vw, 60vh);  
        }

        iframe {
            height: 30vh;
            margin-top: 2vh;
            margin-bottom: 5vh;
        }

        h2 {
            text-align: center;
            color: rgba(48, 45, 45, 0.253);
            
            
        }

        .achicar {

            border-radius: 30px;
        }

        .achicar2 {
            @extend.achicar;
          
        }
    }

    @keyframes aparecer {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @media (max-width: 768px) {

        h1 {
            font-size: 7vh;
        }

        p {
            font-size: 2vh;
        }
    }
}