main {




    div {
        div {
            div {
                div {

                    img {

                        @include sizes(30vw, 30vh);
                        transition: 1s;
                        &:hover {
                            height: 44vh;

                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {

    div {
        div {
            div {
                div {

                    img {
                        height: 30vh;
                        width: 90vw;
                        transition: 1s;

                        &:hover {
                            height: 44vh;

                        }
                    }
                }
            }
        }
    }
}

