main {

    .tituloProducto {

        @media (max-width: 578px) {
            font-size: 5vh;
            padding-top: 3vh;
        }


    }

    .textoProducto {
        margin-top: 10vh;
        height: 30vh;

        @media (max-width: 768px) {
            font-size: 3vh;

        }

        @media (max-width: 578px) {
            font-size: 2vh;
            margin-top: 8vh;
        }
    }

    .mesa1 {

        @media (max-width: 3000px) {

            @include sizes(30vw, 35vh, 10px);
            margin-bottom: 1vh;
            margin-right: 1vw;

            transition: 1s;

            &:hover {
                @include sizes(30vw, 40vh, 10px);

            }
        }



        @media (max-width: 768px) {
            margin-right: 0vw;

            &:hover {
                @include sizes(33vw, 40vh, 10px)
            }

        }

        @media (max-width: 578px) {
            @include sizes(41vw, 20vh, 10px);

            &:hover {
                @include sizes(42vw, 25vh, 10px);
                border: none;
            }
           
            
        }


    }
}