header {
    
    background-image: linear-gradient(to right, white, $color-fondo);
 

    nav {
        background-color: $color-secundario;

        a {

            &:hover {
                background-color: rgba(48, 45, 45, 0.253);
            }
        }
        li {

            &:hover {
                background-color: rgba(48, 45, 45, 0.253);
            }
        
        }
    }



}